<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify - Web Player: Music For Everyone</title>
    <link rel="icon" type="image/gif/x-icon" href={{ url_for('static', filename='images/home/Spotify_Primary_Logo_RGB_Green.png') }}>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='mobileHome.css') }}">
    
    <script src="https://kit.fontawesome.com/7181c71b59.js" crossorigin="anonymous"></script>
</head>
<body>
    <section class="left">
        <div class="upper-left">
            <a href="/homepage"><i class="fa-solid fa-house"></i><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Home</strong></a>
            <a href="#"><i class="fa-solid fa-magnifying-glass"></i><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Search</strong></a>
        </div>
        <div class="bottom-left">
            <div class="header-bottom-left">
                <h4>Your Library</h4>
                <div class="icons">
                    <i class="fa-solid fa-plus"></i>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </div>
            <div class="option-bottom-left">
                <div class="inner-option">
                    <a href="/playlists"><strong>Playlists</strong></a>
                    <a href="#"><strong>Podcast & Shows</strong></a>
                    <a href="#"><strong>Albums</strong></a>
                    <a href="#"><strong>Artists</strong></a>
                    <a href="#"><strong>Downloaded</strong></a>
                </div>
                <div class="inner-click">
                    <i class="fa-solid fa-chevron-right innerclick"></i>
                    <i class="fa-solid fa-chevron-left innerclick2"></i>
                </div>
            </div>
            <div class="search-recents">
                <i class="fa-solid fa-magnifying-glass"></i>
                <p><strong>Recents&nbsp;<i class="fa-solid fa-bars"></i></i></strong></p>
            </div>
            <div class="content-bottom-left" style="color: white;">
                <div class="content-bottom-left" style="color: white;">
                    
                    {% block innerContent %}
                    {% endblock %}
                    
                </div>
            </div>
        </div>
    </section>
    <section class="right">
        <section class="header-right">
            <div class="top-header">
                <div class="icon-chevron">
                    <i class="fa-solid fa-circle-chevron-right fa-rotate-180"></i>
                    <i class="fa-solid fa-circle-chevron-right" style="color: rgb(122, 122, 132);"></i>
                </div>
                <div class="social-notif">
                    <i class="fa-regular fa-bell"></i>
                    <i class="fa-solid fa-users-line"></i>
                    <p>{{ username[0].upper() }}</p>
                </div>
            </div>
            <div class="all-music-podcast">
                <a href="">All</a>
                <a href="">Music</a>
                <a href="">Podcasts</a>
            </div>
            {% block content %}
            {% endblock %}
        </section>
    </section>
    <div class="sticky-div">
        <div class="left-sticky">
            <img src={{ url_for('static', filename='images/home/killswitch.jpg') }}>
            <div class="inner-left-sticky">
                <p><strong>Killswitch Lullabye</strong></p>
                <p style="font-size: 10px;">Flawed Mangoes</p>
            </div>
        </div>
        <div class="center-sticky">
            <div class="playset">
                <i class="fa-solid fa-shuffle"></i>
                <i class="fa-solid fa-forward-step fa-rotate-180"></i>
                <i class="fa-solid fa-circle-play" style="color: #ffffff; font-size: 30px;"></i>
                <i class="fa-solid fa-forward-step"></i>
                <i class="fa-solid fa-arrows-rotate"></i>
            </div>
            <div class="progressbar" id="barr" >
                <p>0:21</p>
                <div class="bar">
                    <div class="innerbar">
                        <div class="dot" id="dott" draggable="true"></div>
                    </div>
                </div>
                <p>2:27</p>
            </div> 
        </div>
        <div class="right-sticky">
            <div class="right-sticky-icons">
                <i class="fa-solid fa-square-caret-right"></i>
                <i class="fa-solid fa-layer-group"></i>
                <i class="fa-solid fa-computer"></i>
                <i class="fa-solid fa-volume-high"></i>
                <div class="progressbar" id="progressb" style="margin-right: 15px;">
                    <div class="bar">
                        <div class="innerbar"></div>
                    </div>
                </div>
                <i class="fa-regular fa-window-restore"></i>
                <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
            </div>
        </div>
    </div>
    <div class="createplaylists">
        <div class="create-container">
            <div class="edit-details">
                <p><strong>Edit details</strong></p>
                <i class="fa-solid fa-xmark"></i>
            </div>
            <div class="details-info">
                <div class="details-img">
                    <i class="fa-solid fa-music"></i>
                    <input type="file" id="fileInput" accept="image/jpeg, image/png">
                </div>
                <div class="text-details">
                    <input type="text" name="playlistname" id="playlistname" placeholder="Add a name" autofocus value="My Playlist #1">
                    <textarea type="text" name="playlistdesc" id="playlistdesc"></textarea>
                </div>
            </div>
            <div class="editbutton">
                <button id="saveButton">Save</button>
            </div>
            <p class="whitetext">By proceeding, you agree to give Spotify access to the image you choose to upload. Please make sure you have the right to upload the image.</p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='home.js') }}"></script>
</body>
</html>